[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
python-dotenv = "*"
beautifulsoup4 = "*"
ipython = "*"
openai = "*"
gradio = "*"
anthropic = "*"
google-generativeai = "*"

[dev-packages]

[requires]
python_version = "3.11"
